{% extends "employee/components/base.html" %} 
{% block title %}Edit Employee {% endblock %} 

{% block content %}
<h2 class="mb-4">Edit Employee</h2>

<form method="POST">
  {% csrf_token %}

  <div class="mb-3">
    <label class="form-label">Name</label>
    <input name="name" class="form-control" value="{{ employee.name }}" />
  </div>

  <div class="mb-3">
    <label class="form-label">Email</label>
    <input
      name="email"
      type="email"
      class="form-control"
      value="{{ employee.email }}"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Position</label>
    <input
      name="position"
      class="form-control"
      value="{{ employee.position }}"
    />
  </div>
  <select name="department" class="form-select mb-3">
    <option selected>Select Department</option>
    {% for dept in department %}
   <option value="{{ dept.id }}"
        {% if employee.department.id == dept.id %}
          selected
        {% endif %}
      >
        {{ dept.name }}
      </option>

    {% endfor %}
  </select>

  <button class="btn btn-warning">Update</button>
  <a href="/employee/" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
